<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    <%= (typeof title !== 'undefined' ? title
        : (typeof page !== 'undefined' && page && page.title) )
        || (site && site.title) || 'Site' %>
  </title>
  <link rel="stylesheet" href="<%= clientBase %>styles/main.css" />
  <link rel="icon" href="<%= clientBase %>assets/favicon.ico" />
</head>
